<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>For Lilitha 🌸</title>

    <link rel="stylesheet"
          href="{{ url_for('static',
          filename='css/style.css') }}">

</head>

<body class="final-page">

    <div id="loader">

    <div class="loader-content">

        🌸

        <p>
            Preparing your journey...
        </p>

    </div>

</div>

    <div class="chapter-container">

        <div class="chapter-card final-card fade-in">

            <h1>💌 The Final Page</h1>

            <h2>For Lilitha 🌸</h2>

            <img
            src="{{ url_for('static',
            filename='images/lilitha_9.jpg') }}"
            class="story-photo">

            <div class="letter">

    <p>
        Hi Lilitha.
    </p>

    <p>
        If you've made it this far, congratulations —
        you've survived an entire app about yourself. 😄
    </p>

    <p>
        Looking back, it's honestly crazy how things turned out.
    </p>

    <p>
        We went from strangers,
        to enemies,
        to friends,
        and somehow...
        to us.
    </p>

    <p>
        Thank you for the laughs,
        the memories,
        and the debates you somehow think you win.
    </p>

    <p>
        You're loud,
        funny,
        stubborn,
        caring,
        and completely yourself —
        and that's one of the things I appreciate most about you.
    </p>

    <p>
        We've had good days,
        difficult days,
        and everything in between,
        but we're still here.
    </p>

    <p class="special-line">
        Whatever chapters come next,
        I'm glad you're part of the story.
    </p>

    <p>
        — Oza 🌸
    </p>

</div>

            <div class="flower-message">

                🌸 Thank you for being you.

            </div>

        </div>

    </div>

    <script
src="{{ url_for('static',
filename='js/petals.js') }}">
</script>

<script
src="{{ url_for('static',
filename='js/loader.js') }}">
</script>

</body>

</html>